# alembic==0.8.5   # not explicit
# amqp==1.4.9  # not explicit
# anyjson==0.3.3  # not explicit
# appdirs==1.4.0   # not explcit
# appnope==0.1.0  # not explicit
# billiard==3.3.0.22  # not explicit
bitarray==0.8.1
# bleach==2.1.4  # not explicit
# celery==3.1.20
# loosen this because it conflicts with later versions needed elsewhere
# I think this isn't actually used directly by this project, but is
# inherited from a dependency, and if so this shouldn't be specified
# at all.
# click==6.6
colorama==0.3.7 # not explicit
# yue only has 0.9.0, but matplotlib 3.0.3 wants cycler >= 0.10
# so upgrading to a newer matplotlib (because yue has 3.1.1)
# needs this to be upgraded too...
cycler==0.10 # not explicit
#dataset==0.6.2   # not explicit, but is mentioned in the jupyter dockerfile in this repo
datasketch==1.5.3
# decorator==4.0.11   # not explicit
# defusedxml==0.5.0   # not explicit
# Django==1.10.5   # not explicit
# editdistance==0.2  # not explicit
elasticsearch==6.0.0
# elasticsearch-dsl says it must line up with the major version of elasticsearch,
# and there is a conflict because of that at pip install time. yue's pip list has
# elasticsearch 6 and elasticsearch-dsl 2 installed, perhaps by not having a clean
# everything-from-requirements install (because pip will let you do that). So try
# commenting it out entirely:
# elasticsearch-dsl==2.0.0
# entrypoints==0.2.3 not explicit
Flask>=1.0.2
Flask-Cors>=2.1.2 # not explicit
# gnureadline==6.3.3
# html5lib==0.999999999 # not explciit
# ipykernel>=4.2.1 # not explicit
# ipython==4.0.1 # not explicit
# ipython-genutils==0.1.0 # not explicit
# ipywidgets==4.1.1 # not explciit
# isodate==0.5.4  not explicit
# itsdangerous==0.24
# java-random==1.0 not explicit
# Jinja2==2.10 not explicit
# jsonschema==2.5.1   not explicit
# jupyter==1.0.0  not explicit
# jupyter-client==5.2.3 not explicit
# jupyter-console==4.0.3 not explicit
# jupyter-core==4.4.0 not explicit
# kombu==3.0.33 not explicit
# line-profiler==1.0  not explicit
# Mako==1.0.4 # not explicit
# MarkupSafe==0.23 not explicit
# yue's version of matplotlib is much updated from requirements.txt
# matplotlib==3.1.1
# I'm fiddling with matplotlib versions because I get some kind of numpy import
# error when importing matplotlib at the originally installed version.
# 3.1.1 installs ok, as does yue's later version
matplotlib>=3.1.1
# mistune==0.8.3 no explicit
mock>=2.0.0
# nbconvert==5.4.0 # not explicit
# nbformat==4.4.0 # not explicit
# the latest version of the (2.5) doesn't work with this code
# so constrain to exactly yue's version
networkx==1.11
nltk>=3.1
# normality==0.2.4 # not explicit
# notebook==5.7.0  not explicit
# from 2nd half of yue's pip output:
# loosened to >= to try to get it to install alongside blindml
numpy>=1.17
ontospy>=1.7.3
# packaging==16.8
# this pandas version comes from the *second* half of yue's weird pip
# output that lists two versions of many packages. (the first half lists
# a much older version of pandas)
pandas>=1.1.2
# pandocfilters==1.4.2
# path.py==8.1.2
# pbr==1.10.0
# pdb not present in yue's pip list
# pdb==0.1
# pexpect==4.0.1
# pickleshare==0.5
# prometheus-client==0.3.1
# psycopg2==2.7.1
# ptyprocess==0.5
# pyfiglet==0.7.5
# Pygments==2.0.2
pymongo>=3.2
# pyparsing==2.0.6
# from 2nd part of yue's pip install
# python-dateutil==2.8.1
# python-editor==1.0
# python-gnupg==0.3.9
# from 2nd half of yue's pip list output
# but actually probably not a direct dependency
# pytz==2020.1
# PyYAML==3.11
# pyzmq==17.1.2
# qtconsole==4.1.1
rdflib>=4.2.2
# rdflib-jsonld==0.4.0
# This is not present in yue's pip list
# readline==6.2.4.1
redis>=2.10.5
# requests==2.13.0
# loosen this constraint because the
# exact version was too low for blindml's
# constraints.
# however, there are API changes, so push
# this up to something closer to what blindml uses.
# scikit-learn>=0.19.1
scikit-learn==0.19.1
scipy>=1.0.0
# Send2Trash==1.5.0
# simplegeneric==0.8.1
# six==1.10.0
#snakeviz==0.4.2
# SPARQLWrapper==1.8.0
# SQLAlchemy==1.0.12
# terminado==0.8.1
# testpath==0.3.1
# tornado==4.3
tqdm>=4.26.0
# traitlets==4.3.2
urllib3==1.22
# uWSGI==2.0.19.1
# webencodings==0.5
# Werkzeug==0.14.1
# yappi==0.94
fire>=0.1.3
dataclasses>=0.6
neo4j>=1.7.1

# needed by networkbuildercoordinator
psutil>=5.4.7

# needed to import DoD.dod_api
# version is from 2nd part of yue's pip list
tabulate>=0.8.7
