bitarray==2.7.3
datasketch==1.5.9
duckdb==0.8.0
fire==0.5.0
kuzu==0.0.3
networkx==3.1
numpy==1.24.3
pandas==2.0.1
psutil==5.9.5
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
six==1.16.0
termcolor==2.3.0
tqdm==4.65.0
tzdata==2023.3
PyYAML==6.0.1
fire==0.5.0
